header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(6px);
    /*padding: 0.75rem 2rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.logo {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: var(--weight-bold);
    color: var(--dg-navier-900);
}

header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav a {
    margin: 0 1rem;
    padding: 0.5rem;
    color: var(--dg-navier-900);
    text-decoration: none;
    font-weight: var(--weight-medium);
}

header nav a:hover {
    color: var(--dg-teal-500);
}

