section {
    padding: 4rem 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

.section-heading {
    font-size: var(--text-heading);
    font-weight: var(--weight-bold);
    margin: 2rem 0rem 2rem; /*top, right/left, bottom*/
    text-align: center;
}

section h2 {
  /* background-color: var(--dg-teal-500);
    Choose your desired background color */
    border-radius: 10px;
    /* Adjust the value to control the amount of rounding */
    padding: 10px;
    /* Add padding for spacing around the text */
    display: inline-block;
    /* Ensure the background only wraps the text */
}